<!DOCTYPE html>
<html>	
	<head>
	   <meta charset="utf-8">
	   <link rel="stylesheet" href="estilo.css">
	   <title>Medidas sensor</title>
   	   <meta http-equiv="refresh" content="1; url=index.html">
	</head>
	
	<script>
	    var teste = "";
	    var i;
	    
	    for(i=0; i<1000; i++){
		teste += "sensor.js"<br>;
		document.getElementById("tela").innerHTML = test;		
		}
	</script>
	
	<body>  
	 <div class="container">
 	   <br>>>></br>
	   <br>Leituras do sensor em tempo real<br>
	   <iframe src ="sensor.js" width="400" height="100" scrolling="yes" id="medida"></iframe>
	 </div>
	  <p id="tela"></p>
	

	</body>
</html>